:root {
	--primary: 0, 0%, 0%;
	--primary-fill: 0, 0%, 100%;
	--primary-accent: 0, 0%, 33%;

	--secondary: 0, 0%, 75%;
	--secondary-fill: 224 43% 22%;
	--secondary-accent: 229, 29%, 47%;
	
	--tertiary: 0, 0%, 75%;
	--tertiary-fill: 224 43% 22%;
	--tertiary-accent: 229, 29%, 47%;
}

.dark {
	--important: 0 0% 100%;
	--important-accent: 238.23 48% 40%;

	--primary: 240, 4.9%, 83.9%;
	--primary-fill: 220.5 45.7% 15.9%;
	--primary-accent: 229.2 100% 68.4%;

	--secondary: 0 0 68;
	--secondary-fill: 0 0% 2%;
	--secondary-accent: 199 81.3 42;
	
	--tertiary: 0 0 53;
	--tertiary-fill: 223.3 12.7% 27.8%;
	--tertiary-accent: 229, 29%, 47%;
}

* {
	@apply box-border;
}
html, body {
	@apply h-full w-full;
}