---
import Layout from "@/layout/layout.astro";
import "@/styles/windows.css";
import "@/styles/markdown.css";
import { getCollection, type CollectionEntry } from "astro:content";
import DesktopShortcut, { ListWindow, SimpleWindow } from "@/components/DesktopShortcut.astro";
import Project2ListWindow from "@/components/Project2ListWindow.astro";
import { getEntry } from "astro:content";
import { GithubWindow, Icon } from "@/components";

const projects = await getCollection('projects');
const about = await getEntry("simple", "about")
					.then(entry => entry.render())
					.then(({ Content }) => Content);
---
<Layout title="Homepage" description="MrTipson's personal website">
	<template id="window-template">
		<div id="window" class="window draggable">
			<div class="window-resize" data-side="top"></div>
			<div class="window-resize" data-side="bottom"></div>
			<div class="window-resize" data-side="left"></div>
			<div class="window-resize" data-side="right"></div>
			<div class="window-resize" data-side="topright"></div>
			<div class="window-resize" data-side="topleft"></div>
			<div class="window-resize" data-side="bottomleft"></div>
			<div class="window-resize" data-side="bottomright"></div>
			<div class="window-bar">
				<div class="text-overflow-wrapper">
					<div id="title" class="text-overflow title">TODO</div>
				</div>
				<div id="buttons" class="buttons">
					<div id="minimise" class="minimise">-</div>
					<div id="close" class="close">x</div>
				</div>
			</div>
			<div id="content" class="window-content"></div>
		</div>
	</template>
	<template id="tab-template">
		<div id="docked" class="docked">
			TODO
		</div>
	</template>

	<div class="wrap">
		<div id="desktop" class="desktop">
			<div class="wallpaper">
				<svg class="absolute inset-0 w-1/2 h-1/2 m-auto text-c2-accent" viewBox="0 0 200 200">
					<path
						d="M40 126C40 128 38 130 36 128M78 116C73 125 63 125 58 122M139 155C136 158 135 156 135 158 134 160 133 166 133 171 131 167 130 165 130 160 112 170 66 176 44 145 37 137 28 109 34 87 28 109 37 137 44 145 42 142 46 148 48 132 48 139 48 142 50 144 53 144 58 142 62 140 60 142 57 145 53 146 48 145 48 139 48 132 52 138 63 142 75 137 98 127 86 95 62 92 55 91 50 94 47 96 50 94 55 91 62 92 85 89 105 122 75 137 81 137 90 138 106 146 110 139 115.3333 132.6667 120 126 115 121 105 120 102 120 101 113 99 107 95 101M50 81A1 1 0 0154 81 1 1 0 0150 81 1 1 0 0153 81 1 1 0 0151 81L52 81M38 73C38 77 35 86 40 84 42 86 44 86 48 82 51 88 63 77 54 76 55 75 62 69 58 62 63 71 52 77 48 82 44 86 42 86 40 84 41 71 56 44 56 53 56 44 41 71 40 84 38 93 36 99 40 114 36 99 38 93 40 84 37 87 35 92 35 98 35 92 37 87 40 84 42.3333 88 43 94 47 96 62 80 72 80 81 87 72 80 62 80 47 96 44 99 40 103 40 114 33 96 32 89 38 73 43 59 53 42 68 38 66 42 64 46 62 50 67 44 73 36 97 36M141 147C140 149 136 165 147 170 145 162 142 157 146 150 145 146 150 136 154 132 133 157 160 165 157 179 168 161 145 161 155 140 155 134 154 129 152 125 149 146 133 146 133 171 122 153 144 142 147 119 149 120 158 127 154 152 167 131 169 108 124 99 108 98 99 86 95 73 99 86 108 98 124 99 134 101 160 107 162 126 172 82 116 107 104 71 115 103 159 87 163 113 172 77 118 97 109 64 118 95 165 80 164 106 168 101 168 90 157 83 166 81 158 77 155 75 140 67 131 65 121 52 114 44 114 49 109 50 105 52 99 51 98 48 99 51 105 52 109 50 114 49 114 44 121 52 131 65 140 67 155 75 158 77 166 81 157 83 148 78 130 82 115 62 114 60 115 57 114 56 115 57 114 60 115 62 135 88 154 73 164 90 166 61 137 23 97 36 78 41 59 75 95 101 117 116 132 107 147 119"
						stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" fill="none"
						stroke-width="1" pathLength="100" stroke-dasharray="0 100 100">
						<animate attributeName="stroke-dashoffset" values="25;100" dur="20s" repeatCount="1"
							fill="freeze" keySplines="0.2 0.49 0.4 0.7" calcMode="spline" />
					</path>
				</svg>
				<div class="sun">
					<div class="sun-center"></div>
				</div>
				<div class="stars"></div>
				<div class="trees"></div>
				<div class="mountains"></div>
			</div>
			<DesktopShortcut title="Projects" xpos="20px" ypos="50px" type="list">
				<Icon slot="icon" variant="folder"/>
				<ListWindow slot="content" mapping={{
					name: (entry: CollectionEntry<"projects">) => entry.data.title,
					content: Project2ListWindow,
				}} values={projects}/>
			</DesktopShortcut>
			<DesktopShortcut title="Recursion" xpos="20px" ypos="150px" type="simple">
				<Icon slot="icon" variant="spiral"/>
				<SimpleWindow slot="content" content_web={"/?recursion"}/>
			</DesktopShortcut>
			<DesktopShortcut title="About me" xpos="20px" ypos="250px" type="simple">
				<Icon slot="icon" variant="person"/>
				<SimpleWindow slot="content" content={about}/>
			</DesktopShortcut>
			<DesktopShortcut title="WebStg" xpos="120px" ypos="50px" type="explorer">
				<div slot="icon" class="text-c2-accent w-12 h-12 relative">
					<Icon variant="folder"/>
					<Icon variant="github" class="absolute inset-0 m-auto text-c0 w-6 h-6"/>
				</div>
				<GithubWindow slot="content" user="mrtipson" repository="webstg" tree_sha="master"/>
			</DesktopShortcut>
			<DesktopShortcut title="WebStg" xpos="220px" ypos="50px" type="simple">
				<div slot="icon" class="text-purple-500 w-12 h-12 relative">
					<Icon variant="folder"/>
					<Icon variant="mesh_globe" class="absolute inset-0 m-auto text-c0 w-6 h-6"/>
				</div>
				<SimpleWindow slot="content" content_web="https://mrtipson.github.io/webstg"/>
			</DesktopShortcut>
			<DesktopShortcut title="FogBuddy" xpos="120px" ypos="150px" type="explorer">
				<div slot="icon" class="text-c2-accent w-12 h-12 relative">
					<Icon variant="folder"/>
					<Icon variant="github" class="absolute inset-0 m-auto text-c0 w-6 h-6"/>
				</div>
				<GithubWindow slot="content" user="mrtipson" repository="fogbuddy" tree_sha="master"/>
			</DesktopShortcut>
			<DesktopShortcut title="Compiler" xpos="120px" ypos="250px" type="explorer">
				<div slot="icon" class="text-c2-accent w-12 h-12 relative">
					<Icon variant="folder"/>
					<Icon variant="github" class="absolute inset-0 m-auto text-c0 w-6 h-6"/>
				</div>
				<GithubWindow slot="content" user="mrtipson" repository="compiler" tree_sha="master"/>
			</DesktopShortcut>
			<DesktopShortcut title="Compiler" xpos="220px" ypos="250px" type="simple">
				<div slot="icon" class="text-purple-500 w-12 h-12 relative">
					<Icon variant="folder"/>
					<Icon variant="mesh_globe" class="absolute inset-0 m-auto text-c0 w-6 h-6"/>
				</div>
				<SimpleWindow slot="content" content_web="/compiler?noheader"/>
			</DesktopShortcut>
		</div>
		<div id="toolbar-bottom" class="toolbar">
			<div id="tabs" class="toolbar-item"></div>
			<div id="timer" class="toolbar-item"></div>
		</div><!-- toolbar -->
	</div>
	<script src="src/js/window.js"></script>
</Layout>

<style>
.wallpaper{
	position:relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.bg {
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgb(16,8,14);
	background: linear-gradient(0deg, rgba(16,8,14,1) 0%, rgba(46,14,51) 62%, rgb(148, 33, 62) 100%);
}
.mountains {
	position:absolute;
	inset: 0;
	width: 200%;
	background: url("/portal/img/bg/Mountains.svg") repeat-x bottom;
	background-size: 100vw;
	animation: roll linear 20s infinite;
}
.stars {
	position:absolute;
	top: 0;
	bottom: 450px;
	left: 0;
	width: 200%;
	background: url("/portal/img/bg/Stars.svg") repeat-x bottom;
	background-size: 100vw;
	animation: roll linear 70s infinite;
}
.trees {
	position:absolute;
	inset: 0;
	width: 200%;
	background: url("/portal/img/bg/Trees.svg") repeat-x bottom;
	background-size: 100vw;
	animation: roll linear 30s infinite;
}
.sun {
	position: absolute;
	background: radial-gradient(circle at 65% 80%, rgba(214, 74, 31, 0.774) 0%, rgba(248, 30, 175, 0.5) 30%, rgba(0,0,0,0) 50%);
	inset: 0;
	animation: float ease-in-out 25s infinite alternate-reverse;
}
.sun-center {
	position:absolute;
	right: 25%;
	bottom: 10%;
	width: 20vw;
	height: 20vw;
	background: url("/portal/img/bg/Sun.svg") repeat-x bottom;
	background-size: 20vw;
}
@keyframes roll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}

@keyframes float {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(75%);
	}
}
</style>