---
import Layout from "@/layout/layout.astro";
import "@/css/background.css";
import "@/css/stylesheet.css";
import "@/styles/markdown.css";
import { getCollection, type CollectionEntry } from "astro:content";
import DesktopShortcut, { ExplorerWindow, ListWindow, SimpleWindow } from "@/components/DesktopShortcut.astro";
import Project2ListWindow from "@/components/Project2ListWindow.astro";
import { getEntry } from "astro:content";

const projects = await getCollection('projects');
const about = await getEntry("simple", "about")
					.then(entry => entry.render())
					.then(({ Content }) => Content);
---
<Layout title="Portal" description="portal">
	<template id="window-template">
		<div id="window" class="window draggable">
			<div class="window-resize" data-side="top"></div>
			<div class="window-resize" data-side="bottom"></div>
			<div class="window-resize" data-side="left"></div>
			<div class="window-resize" data-side="right"></div>
			<div class="window-resize" data-side="topright"></div>
			<div class="window-resize" data-side="topleft"></div>
			<div class="window-resize" data-side="bottomleft"></div>
			<div class="window-resize" data-side="bottomright"></div>
			<div class="window-bar">
				<div class="text-overflow-wrapper">
					<div id="title" class="text-overflow title">TODO</div>
				</div>
				<div id="buttons" class="buttons">
					<div id="minimise" class="minimise">-</div>
					<div id="close" class="close">x</div>
				</div>
			</div>
			<div id="content" class="window-content"></div>
		</div>
	</template>
	<template id="tab-template">
		<div id="docked" class="docked">
			TODO
		</div>
	</template>

	<div class="wrap">
		<div id="desktop" class="desktop">
			<div class="wallpaper">
				<div class="inset-0 bg-gradient-to-br from-blue-900 to-sky-700 absolute"></div>
				<div class="sun"></div>
				<div class="stars"></div>
				<div class="trees"></div>
				<div class="mountains"></div>
				<div class="floor">
					<div class="floor-rotate">
						<div class="floor-bg">
							<div class="floor-grid"></div>
						</div>
					</div>
				</div>
			</div>
			<DesktopShortcut title="Projects" icon="/portal/img/desktop-icons/folder.png" xpos="20px" ypos="50px" type="list">
				<ListWindow mapping={{
					name: (entry: CollectionEntry<"projects">) => entry.data.title,
					content: Project2ListWindow,
				}} values={projects}/>
			</DesktopShortcut>
			<DesktopShortcut title="Recursion" icon="/portal/img/desktop-icons/folder.png" xpos="20px" ypos="150px" type="simple"><SimpleWindow content_web={"/?recursion"}/></DesktopShortcut>
			<DesktopShortcut title="About me" icon="/portal/img/desktop-icons/folder.png" xpos="20px" ypos="250px" type="simple"><SimpleWindow content={about}/></DesktopShortcut>
			<DesktopShortcut title="WebStg" icon="/portal/img/desktop-icons/folder.png" xpos="20px" ypos="350px" type="explorer"><ExplorerWindow user="mrtipson" repository="webstg" branch="master"/></DesktopShortcut>
			<DesktopShortcut title="FogBuddy" icon="/portal/img/desktop-icons/folder.png" xpos="20px" ypos="450px" type="explorer"><ExplorerWindow user="mrtipson" repository="fogbuddy" branch="master"/></DesktopShortcut>
		</div>
		<div id="toolbar-bottom" class="toolbar">
			<div id="tabs" class="toolbar-item"></div>
			<div id="timer" class="toolbar-item"></div>
		</div><!-- toolbar -->
	</div>
	<script src="src/js/window.js"></script>
</Layout>