---
import Layout from "@/layout/layout.astro";
import "@/styles/windows.css";
import "@/styles/markdown.css";
import { getCollection, type CollectionEntry } from "astro:content";
import DesktopShortcut, { ExplorerWindow, ListWindow, SimpleWindow } from "@/components/DesktopShortcut.astro";
import Project2ListWindow from "@/components/Project2ListWindow.astro";
import { getEntry } from "astro:content";
import { GithubWindow } from "@/components";

const projects = await getCollection('projects');
const about = await getEntry("simple", "about")
					.then(entry => entry.render())
					.then(({ Content }) => Content);
---
<Layout title="Portal" description="portal">
	<template id="window-template">
		<div id="window" class="window draggable">
			<div class="window-resize" data-side="top"></div>
			<div class="window-resize" data-side="bottom"></div>
			<div class="window-resize" data-side="left"></div>
			<div class="window-resize" data-side="right"></div>
			<div class="window-resize" data-side="topright"></div>
			<div class="window-resize" data-side="topleft"></div>
			<div class="window-resize" data-side="bottomleft"></div>
			<div class="window-resize" data-side="bottomright"></div>
			<div class="window-bar">
				<div class="text-overflow-wrapper">
					<div id="title" class="text-overflow title">TODO</div>
				</div>
				<div id="buttons" class="buttons">
					<div id="minimise" class="minimise">-</div>
					<div id="close" class="close">x</div>
				</div>
			</div>
			<div id="content" class="window-content"></div>
		</div>
	</template>
	<template id="tab-template">
		<div id="docked" class="docked">
			TODO
		</div>
	</template>

	<div class="wrap">
		<div id="desktop" class="desktop">
			<div class="wallpaper">
				<div class="inset-0 bg-gradient-to-br from-blue-900 to-sky-700 absolute"></div>
				<div class="sun"></div>
				<div class="stars"></div>
				<div class="trees"></div>
				<div class="mountains"></div>
				<div class="floor">
					<div class="floor-rotate">
						<div class="floor-bg">
							<div class="floor-grid"></div>
						</div>
					</div>
				</div>
			</div>
			<DesktopShortcut title="Projects" icon="/portal/img/desktop-icons/folder.png" xpos="20px" ypos="50px" type="list">
				<ListWindow mapping={{
					name: (entry: CollectionEntry<"projects">) => entry.data.title,
					content: Project2ListWindow,
				}} values={projects}/>
			</DesktopShortcut>
			<DesktopShortcut title="Recursion" icon="/portal/img/desktop-icons/folder.png" xpos="20px" ypos="150px" type="simple"><SimpleWindow content_web={"/?recursion"}/></DesktopShortcut>
			<DesktopShortcut title="About me" icon="/portal/img/desktop-icons/folder.png" xpos="20px" ypos="250px" type="simple"><SimpleWindow content={about}/></DesktopShortcut>
			<DesktopShortcut title="WebStg" icon="/portal/img/desktop-icons/folder.png" xpos="120px" ypos="50px" type="explorer"><GithubWindow user="mrtipson" repository="webstg" tree_sha="master"/>
			</DesktopShortcut>
			<DesktopShortcut title="FogBuddy" icon="/portal/img/desktop-icons/folder.png" xpos="120px" ypos="150px" type="explorer"><GithubWindow user="mrtipson" repository="fogbuddy" tree_sha="master"/></DesktopShortcut>
			<DesktopShortcut title="Compiler" icon="/portal/img/desktop-icons/folder.png" xpos="120px" ypos="250px" type="explorer"><GithubWindow user="mrtipson" repository="compiler" tree_sha="master"/></DesktopShortcut>
		</div>
		<div id="toolbar-bottom" class="toolbar">
			<div id="tabs" class="toolbar-item"></div>
			<div id="timer" class="toolbar-item"></div>
		</div><!-- toolbar -->
	</div>
	<script src="src/js/window.js"></script>
</Layout>

<style>
.wallpaper{
	position:relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.bg {
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgb(16,8,14);
	background: linear-gradient(0deg, rgba(16,8,14,1) 0%, rgba(46,14,51) 62%, rgb(148, 33, 62) 100%);
}
.mountains {
	position:absolute;
	top: 0;
	bottom: 110px;
	left: 0;
	width: 200%;
	background: url("/portal/img/bg/Mountains.svg") repeat-x bottom;
	background-size: 100vw;
	animation: roll linear 20s infinite;
}
.stars {
	position:absolute;
	top: 0;
	bottom: 450px;
	left: 0;
	width: 200%;
	background: url("/portal/img/bg/Stars.svg") repeat-x bottom;
	background-size: 100vw;
	animation: roll linear 70s infinite;
}
.trees {
	position:absolute;
	top: 0;
	bottom: 110px;
	left: 0;
	width: 200%;
	background: url("/portal/img/bg/Trees.svg") repeat-x bottom;
	background-size: 100vw;
	animation: roll linear 30s infinite;
}
.sun {
	position:absolute;
	right: 25%;
	bottom: 220px;
	width: 20vw;
	height: 20vw;
	background: url("/portal/img/bg/Sun.svg") repeat-x bottom;
	background-size: 20vw;
	animation: float ease-in-out 50s infinite alternate-reverse;
}
.floor {
	position:absolute;
	top: calc(100vh - 220px);
	bottom: 0;
	left: 50%;
	width: 200%;
	perspective: 140px;
	perspective-origin: top center;
	transform: translateX(-50%);
	/*animation: floor linear 1s infinite;*/
}
.floor-rotate {
	position: relative;
	width: 100%;
	height: 100%;
	transform: rotate3d(1,0,0,90deg);
}
.floor-grid {
	position: relative;
	width:300%;
	height:100%;
	background-size: 5vw 3vw;
	background-image:
		conic-gradient(from 90deg at 2px 2px,black 90deg, transparent 0);
	animation: floor linear 30s infinite;
}
.floor-bg {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgb(255, 68, 232), black);
}
@keyframes roll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}

@keyframes float {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(75%);
	}
}

@keyframes floor {
	from {
		transform: translateX(-25%);
	}
	to {
		transform: translateX(-75%);
	}
}
</style>