---
import "@/styles/markdown.css";
import Layout from "@/layout/layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
const rendered = await Promise.all(projects.map(x => x.render().then(x => x.Content)))
---

<Layout title='tipson.xyz' description='Website about me and my projects'>
	<div class="flex flex-wrap justify-around gap-6 md h-full overflow-auto">
	{rendered.map((Rendered,i) => 
		<div class="bg-gray-900 p-3 rounded my-5 border border-c3 hover:border-c0 w-full mx-5 md:w-2/3">
			<div class="pl-4 hover:before:border-c0 pointer-events-none">
				<div class="text-c0">{projects[i].data.title}</div>
				<div class="flex flex-wrap gap-2 text-c3 text-sm h-fit">Technologies: {projects[i].data.technologies.map(x =>
					<span class="text-c2 px-1 bg-c3-fill rounded-sm">{x}</span>
				)}</div>
				<div class="text-c3">Links: {Object.entries(projects[i].data.links).map(([name, link]) => (
					<a href={link} class="mr-2">{name}</a>
				))}</div>

			</div>
			<Rendered/>
		</div>
	)}
	</div>
</Layout>