<div class="type-explorer">
	<div class="address-bar">
		<div class="explorer-back"/>
		<div class="text-overflow-wrapper">
			<div id ="path" class="explorer-path text-overflow"/>
		</div>
	</div>
	<div class="content">
		<slot/>
	</div>
</div>