<div class="mix-blend-lighten relative overflow-hidden">
	<div class="relative">
		<div class="relative w-64 h-64">
			<div class="absolute -top-full w-[200%] h-3 blur bg-white transition-all -rotate-45" style="animation: shine 3s;"/>
			<div class="bg-gradient-to-br from-sky-400 to-blue-900 w-64 h-64"/>
		</div>
		<div class="w-64 h-64 bg-cover mix-blend-multiply absolute top-0" style="background-image: url(/mrtipson.png); filter: invert(1);"/>
	</div>
</div>

<style>
@keyframes shine{
	to {
		@apply top-[200%];
	}
}
</style>