---
import type { CollectionEntry } from 'astro:content'

interface Props {
	entry: CollectionEntry<'projects'>
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<>
	<div class="px-4 text-c3 -mb-10">
		{entry.data.links && <div>#{Object.entries(entry.data.links).map(([k,v]) => <a class="ml-2" href={v}>{k}</a>)}</div>}
		<div># {entry.data.technologies}</div>
	</div>
	<h1>{entry.data.title}</h1>
	<Content/>
</>