---
import { Button, Icon } from "@/components";
import "@/styles/global.css";
interface Props {
	title: string;
	description: string;
	class?: string;
}

const { title, description, class: className ="" } = Astro.props;
import Config from "astro.config.mjs";
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gradient-to-br to-sky-700 from-blue-900 grid grid-rows-[max-content_minmax(0,1fr)] bottom-0 text-c1 font-mono">
		<header class="flex justify-between px-6 py-2 row-span-1">
			<div class="flex items-baseline gap-2 md:gap-8 hover:*:underline underline-offset-4">
				<a href="/" class="text-3xl font-extrabold text-c1 font-mono">tipson.xyz</a>
				<a href="/about" class="text-xl text-c2 font-thin font-mono">About</a>
				<a href="/compiler" class="text-xl text-c2 font-thin font-mono">Compiler</a>
			</div>
			<div class="flex gap-1">
				<Button variant="ghost" size="icon" class="relative">
					<a href="https://github.com/MrTipson/">
						<Icon variant="github" />
					</a>
				</Button>
				<Button variant="ghost" size="icon" class="relative">
					<a href="https://steamcommunity.com/id/MrTipson/">
						<Icon variant="steam" />
					</a>
				</Button>
				<!--<ModeToggle client:load />-->
			</div>
		</header>
		<div class={"relative min-w-0 " + className}>
			<slot />
		</div>
	</body>
</html>

<style>
	header button:hover::before {
		top: -8px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		content: '';
		width: 0px;
		border-color: currentColor transparent;
		border-style: solid;
		border-width: 6px 6px 0px 6px;
	}
</style>
